* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box; 
}

.main {
    margin: 0 auto;
    width: 900px;
    height: 750px;
    background-color: white;
}

.morado {
    width: 900px;
    height: 150px;
    background-color: #D2B4DE;
    /* overflow: hidden; */
}

.rosa {
    width: 250px;
    height: 50px;
    background-color: #F06292;
    margin-top: 50px;
}
